
.container-fluid {
	padding: 0;

}

.row {
	width: 100%;
	margin: 0;
}



/*--------Navigation style starts here---------*/

.nav {
	padding-top: 15px;
}

.navbar {
	background-color: white;
}

.nav li {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	color: slategrey;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

.nav .center {
	display: inline-block;
	float: none;
	text-align: center;
}

.nav .text-left {
	padding-left: 65px;
}

.nav a{
	color: slategrey;
}

.nav a:hover {
	color: orangered;
	text-decoration: none;
}

.nav .text-right {
	padding-right: 65px;
}

.day {
	font-family: Montserrat, sans-serif;
	letter-spacing: 5px;
	border: 2px solid black;
	width: 30px;
	padding: 3px 0 3px 3px;
	display: inline-block;


}

/*--------Day 1 starts here---------*/

#one .content {
	background-color: yellow;
	padding: 15rem 0 12rem 0;
}

#one .firstfont {
	font-family: Montserrat, sans-serif;
	letter-spacing: 5px;
	font-size: 7em;
	font-weight: 700;
	line-height: 1.25em;
	color: white;
	margin-top: 50px;
	overflow: hidden;

} 

#one .secondfont {
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
	font-weight: 400;
	width: 75%;
	margin: auto;
	line-height: 1.85em;
	margin-top: 25px;
	color: black;
} 

#one .colophon {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	line-height: 2.5em;
	margin: 10rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#one a {
	color: orangered;
}

#one a:hover {
	text-decoration: none;
	color: slategrey;
}


/*--------Day 2 starts here---------*/

#two .content {
	background-color: #EDEEE8;
	padding: 15rem 0 12rem 0;
}

#two .row {
	width: 80%;
	margin: auto;
	margin-top: 75px;
	padding-right: 10px;
}

#two .firstfont {
	font-family: 'Yeseva One', serif;
	font-size: 5em;
	line-height: 1.15em;
	color: black;
	overflow: hidden;
	padding-bottom: 15px;

} 

#two .secondfont {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.75em;
	color: black;
	padding-top: 15px;

} 

#two .colophon {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	line-height: 2.5em;
	margin: 10rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#two a {
	color: orangered;
}

#two a:hover {
	text-decoration: none;
	color: slategrey;
}





/*--------Day 3 starts here---------*/

#three .content {
	
	background-color: hotpink;
	padding: 15rem 0 12rem 0;
}

#three .day {
	color: snow;
	border: 2px solid snow;
}

#three .row {
	width: 90%;
	margin: 75px auto auto auto;
}

#three .firstfont  {
                
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.25em;
	letter-spacing: 8px;
	line-height: 1.25em;
	color: snow;
	overflow: hidden;
	margin-bottom: 30px;

} 

#three hr {
	width: 8%;
	border: 1px solid snow;
}

#three .secondfont {
	margin-top: 30px;
	font-family: 'Bad Script', cursive;
	letter-spacing: 1px;
	font-size: 1.25em;
	line-height: 1.75em;
	color: snow;
} 

#cat {
	text-decoration: line-through;
	color: #e6ff5d;
}


#three .colophon {
	font-family: Montserrat, sans-serif;
	color: snow;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#three a {
	color: orangered;
}

#three a:hover {
	text-decoration: none;
	color: #e6ff5d;
}





/*--------Day 4 starts here---------*/

#four .content {
	
	background-color: whitesmoke;
	padding: 15rem 0 12rem 0;
}

.test {
	margin-top: 5em;
}

#four .firstfont {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#four .firstfont h2 {
	font-family: 'Londrina Outline', sans-serif;
	font-size: 4.75em;
	letter-spacing: 10px;
	line-height: 1.1em;
	margin: 0;
	color: blue;
}

#four .secondfont {
	font-family: Alegreya, cursive;
	letter-spacing: 1px;
	font-size: 1.15em;
	line-height: 1.75em;
	color: slategray;
	padding-top: 50px;
	width: 95%;
	margin: auto;
}



/*--------Tablet Media Query-------*/

@media only screen and (min-width : 768px) {

#four .firstfont h2{
  font-size: 10em;
    }
}


/*--------Desktop Media Query-------*/

@media only screen and (min-width : 992px)  {

#four .row {
	margin-bottom: 15em;
}

#four .firstfont {
	position: absolute;
	margin: 0 auto; 
	left: 0;
	right: 0;
	width: 70%;
	display: inline-block;
}

#four .firstfont h2{           
	z-index: 1;
} 

  #four .firstfont h2:nth-child(1) {
    left: 0px; }
  #four .firstfont h2:nth-child(2) {
    text-align: center;
		top: 160px; }
  #four .firstfont h2:nth-child(3) {
    text-align: right;
		top: 318px;}


#four .secondfont {
	float: left;
	position: relative;
  width: 70%;
  padding-top: 20px;
  padding-left: 40px;
  z-index: 2;
  margin-bottom: 15em;
} 


}

/*------End Media Query-----*/

#four .colophon {
	font-family: Montserrat, sans-serif;
	color: black;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#four a {
	color: orangered;
}

#four a:hover {
	text-decoration: none;
	color: slategrey;
}


/*--------Day 5 starts here---------*/

#five .content {
	
	background-color: #1B1B25;
	padding: 15rem 0 12rem 0;
}

#five .day {
	color: snow;
	border: 2px solid snow;
}

#five .firstfont  {
               
	padding: 50px;
	width: 300px;
	margin: auto;
	border: 5px solid gainsboro;
} 

#five .firstfont h2{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 7px;
	color: gainsboro;
	font-weight: 700;
	background-image: linear-gradient(to bottom, transparent 0%, transparent 45%, #DCDCDC 45%, #DCDCDC 55%, transparent 55%, transparent 100%);
}

#five .firstfont h2:last-child{
margin-bottom: 20px;

}

#five .filler {
	background-color: #1B1B25;
}

#andto {
	padding-left: 12px;
}

#alla {
	padding-right: 7px;
}

#good {
	padding-left: 12px;
	padding-right: 4px;
}

#night {
	padding-right: 4px;
}

/*---------Paragraph Styling-------*/

#five .secondfont {
	font-family: Lora, serif;
	letter-spacing: 4px;
	font-size: .85em;
	line-height: 2em;
	width: 300px;
	margin: 50px auto 75px auto;
	color: gainsboro;
} 


#moon {
	font-size: 2em;
	font-style: normal;
	float: left;
	margin-right: 32px;
	padding-top: 3px;
	padding-bottom: 75px;
}

/*------Responsive styling--------*/
@media only screen and (min-width : 480px) {
#five .firstfont  {
	padding: 50px;
	width: 440px;
}

#five .firstfont h2{
	font-size: 3.25em;
	line-height: 1.2em;
}

#five .secondfont {
	width: 440px;
} 

}
/*------End responsive------*/



#five .colophon {
	font-family: Montserrat, sans-serif;
	color: snow;
	font-size: .75em;
	line-height: 2.5em;
	margin: 3rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#five a {
	color: yellow;
}

#five a:hover {
	text-decoration: none;
	color: slategrey;
}




