
.container-fluid {
	padding: 0;
	overflow: hidden;

}

.row {
	width: 100%;
	margin: 0;
	overflow: hidden;
}



/*--------Navigation style starts here---------*/

.nav {
	padding-top: 15px;
}

.navbar {
	background-color: white;
}

.nav li {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	color: slategrey;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

.nav .center {
	display: inline-block;
	float: none;
	text-align: center;
}

.nav .text-left {
	padding-left: 65px;
}

.nav a{
	color: slategrey;
}

.nav a:hover {
	color: orangered;
	text-decoration: none;
}

.nav .text-right {
	padding-right: 65px;
}

.day {
	font-family: Montserrat, sans-serif;
	letter-spacing: 2px;
	border: 2px solid black;
	width: 30px;
	padding: 3px 0 3px 3px;
	display: inline-block;


}

/*--------Day 1 starts here---------*/

#one .content {
	background-color: yellow;
	padding: 15rem 0 12rem 0;
}

#one .firstfont {
	font-family: Montserrat, sans-serif;
	letter-spacing: 5px;
	font-size: 7em;
	font-weight: 700;
	line-height: 1.25em;
	color: white;
	margin-top: 50px;
	overflow: hidden;

} 

#one .secondfont {
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
	font-weight: 400;
	width: 75%;
	margin: auto;
	line-height: 1.85em;
	margin-top: 25px;
	color: black;
} 

#one .colophon {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	line-height: 2.5em;
	margin: 10rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#one a {
	color: orangered;
}

#one a:hover {
	text-decoration: none;
	color: slategrey;
}


/*--------Day 2 starts here---------*/

#two .content {
	background-color: #EDEEE8;
	padding: 15rem 0 12rem 0;
}

#two .row {
	width: 80%;
	margin: auto;
	margin-top: 75px;
	padding-right: 10px;
}

#two .firstfont {
	font-family: 'Yeseva One', serif;
	font-size: 5em;
	line-height: 1.15em;
	color: black;
	overflow: hidden;
	padding-bottom: 15px;

} 

#two .secondfont {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.75em;
	color: black;
	padding-top: 15px;

} 

#two .colophon {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	line-height: 2.5em;
	margin: 10rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#two a {
	color: orangered;
}

#two a:hover {
	text-decoration: none;
	color: slategrey;
}





/*--------Day 3 starts here---------*/

#three .content {
	
	background-color: hotpink;
	padding: 15rem 0 12rem 0;
}

#three .day {
	color: snow;
	border: 2px solid snow;
}

#three .row {
	width: 90%;
	margin: 75px auto auto auto;
}

#three .firstfont  {
                
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.25em;
	letter-spacing: 8px;
	line-height: 1.25em;
	color: snow;
	overflow: hidden;
	margin-bottom: 30px;

} 

#three hr {
	width: 8%;
	border: 1px solid snow;
}

#three .secondfont {
	margin-top: 30px;
	font-family: 'Bad Script', cursive;
	letter-spacing: 1px;
	font-size: 1.25em;
	line-height: 1.75em;
	color: snow;
} 

#cat {
	text-decoration: line-through;
	color: #e6ff5d;
}


#three .colophon {
	font-family: Montserrat, sans-serif;
	color: snow;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#three a {
	color: orangered;
}

#three a:hover {
	text-decoration: none;
	color: #e6ff5d;
}





/*--------Day 4 starts here---------*/

#four .content {
	
	background-color: whitesmoke;
	padding: 15rem 0 12rem 0;
}

.test {
	margin-top: 5em;
}

#four .firstfont {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#four .firstfont h2 {
	font-family: 'Londrina Outline', sans-serif;
	font-size: 4.75em;
	letter-spacing: 10px;
	line-height: 1.1em;
	margin: 0;
	color: blue;
}

#four .secondfont {
	font-family: Alegreya, serif;
	letter-spacing: 1px;
	font-size: 1.15em;
	line-height: 1.75em;
	color: slategray;
	padding-top: 50px;
	width: 95%;
	margin: auto;
}



/*--------Tablet Media Query-------*/

@media only screen and (min-width : 768px) {

#four .firstfont h2{
  font-size: 10em;
    }
}


/*--------Desktop Media Query-------*/

@media only screen and (min-width : 992px)  {

#four .row {
	margin-bottom: 15em;
}

#four .firstfont {
	position: absolute;
	margin: 0 auto; 
	left: 0;
	right: 0;
	width: 70%;
	display: inline-block;
}

#four .firstfont h2{           
	z-index: 1;
} 

  #four .firstfont h2:nth-child(1) {
    left: 0px; }
  #four .firstfont h2:nth-child(2) {
    text-align: center;
		top: 160px; }
  #four .firstfont h2:nth-child(3) {
    text-align: right;
		top: 318px;}


#four .secondfont {
	float: left;
	position: relative;
  width: 70%;
  padding-top: 20px;
  padding-left: 40px;
  z-index: 2;
  margin-bottom: 15em;
} 


}

/*------End Media Query-----*/

#four .colophon {
	font-family: Montserrat, sans-serif;
	color: black;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#four a {
	color: orangered;
}

#four a:hover {
	text-decoration: none;
	color: slategrey;
}


/*--------Day 5 starts here---------*/

#five .content {
	
	background-color: #1B1B25;
	padding: 15rem 0 12rem 0;
}

#five .day {
	color: snow;
	border: 2px solid snow;
}

#five .firstfont  {
               
	padding: 50px;
	width: 300px;
	margin: auto;
	border: 5px solid gainsboro;
} 

#five .firstfont h2{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 7px;
	color: gainsboro;
	font-weight: 700;
	background-image: linear-gradient(to bottom, transparent 0%, transparent 45%, #DCDCDC 45%, #DCDCDC 55%, transparent 55%, transparent 100%);
}

#five .firstfont h2:last-child{
margin-bottom: 20px;

}

#five .filler {
	background-color: #1B1B25;
}

#andto {
	padding-left: 12px;
}

#alla {
	padding-right: 7px;
}

#good {
	padding-left: 12px;
	padding-right: 4px;
}

#night {
	padding-right: 4px;
}

/*---------Paragraph Styling-------*/

#five .secondfont {
	font-family: Lora, serif;
	letter-spacing: 4px;
	font-size: .85em;
	line-height: 2em;
	width: 300px;
	margin: 50px auto 75px auto;
	color: gainsboro;
} 


#moon {
	font-size: 2em;
	font-style: normal;
	float: left;
	margin-right: 32px;
	padding-top: 3px;
	padding-bottom: 75px;
}

/*------Responsive styling--------*/
@media only screen and (min-width : 480px) {
#five .firstfont  {
	padding: 50px;
	width: 440px;
}

#five .firstfont h2{
	font-size: 3.25em;
	line-height: 1.2em;
}

#five .secondfont {
	width: 440px;
} 

}
/*------End responsive------*/



#five .colophon {
	font-family: Montserrat, sans-serif;
	color: snow;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#five a {
	color: yellow;
}

#five a:hover {
	text-decoration: none;
	color: slategrey;
}



/*---------End Day 5---------------*/



/*--------Day 6 starts here---------*/

#six .content {
	background: url(../images/desert.jpg);
	background-color: #faf6f2;
	background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
	padding: 15rem 0 12rem 0;
}


#six .row {
	width: 95%;
	margin: 75px auto auto auto;

}

#six .firstfont  {
                
	font-family: 'Playfair Display', serif;
	font-size: 1.8em;
	letter-spacing: 10px;
	line-height: 1.5em;
	color: #151515;
	overflow: hidden;

} 

#six .is {
	font-size: .5em;
	letter-spacing: 5px;
	font-style: italic;
}

#six .secondfont {
	margin-top: -15px;
	font-family: 'Cutive Mono', sans-serif;
	letter-spacing: .5px;
	font-size: 1.1em;
	line-height: 1.75em;
	color: black;
	background-color: rgba(227, 237, 233, .75);
	padding: 50px 15px;
} 


/*------Responsive styling--------*/
@media only screen and (min-width : 480px) {

#six .colophon {
	background-color: #faf6f2;
}

#six .firstfont  {
                
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	letter-spacing: 10px;
	line-height: 1.5em;
	color: #151515;

} 

#six .secondfont {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 175px;
	margin-top: -25px;
	font-size: 1.25em;
	line-height: 1.75em;
	padding: 50px 50px;
} 
}


@media only screen and (min-width : 992px)  {

#six .secondfont {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;
	font-size: 1.25em;
	line-height: 1.75em;
	padding: 50px 50px;
} 
}


@media only screen and (min-width : 1200px) {

#six .row {
	margin: 100px auto auto auto;

}

#six .secondfont {
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;
	margin-bottom: 300px;
	font-size: 1.25em;
	line-height: 1.75em;
	padding: 50px 50px;
} 
}

/*------End responsive------*/

#six .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 1rem 0 1rem;
	letter-spacing: 3px;
	display: inline-block;
}

#six a {
	color: orangered;
}

#six a:hover {
	text-decoration: none;
	color: slategrey;
}

/*-------End Day 6------*/


/*--------Day 7 starts here---------*/

#seven .content {
	background-color: rosybrown;
	background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
	padding: 15rem 0 12rem 0;
}


#seven .row {
	width: 95%;
	margin: 75px auto auto auto;

}

#seven .firstfont  {
                
	font-family: 'Merriweather', serif;
	font-size: 10em;
	font-style: italic;
	letter-spacing: 10px;
	line-height: 1.5em;
	color: snow;
	padding-bottom: 15px;
	padding-left: 50px;
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);

} 

#seven .time  {
                
	font-family: 'Merriweather', serif;
	font-size: 2em;
	letter-spacing: 10px;
	line-height: 1.5em;
	color: snow;
	padding-bottom: 15px;
	margin: 225px auto auto auto;
	padding-top: 30px;
	border-top: 5px solid snow;
	width: 150px;
} 


#seven .secondfont {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: .5px;
	font-size: 1.25em;
	line-height: 2em;
	color: snow;
	padding: 25px 15px;
	margin-top: 20px;

} 

#herewego {
	font-family: Merriweather, serif;
	font-style: italic;
}

/*------Responsive styling--------*/
@media only screen and (min-width : 480px) {

#seven .firstfont  {
	padding-left: 150px;
	font-size: 12em;

} 

#seven .time  {
                
	margin: 275px auto auto auto;
	padding-top: 30px;
} 

}


@media only screen and (min-width : 992px)  {

#seven .firstfont  {
	padding-left: 100px;
	font-size: 12em;

} 


#seven .secondfont {
font-size: 1.5em;
text-align: left;
border-left: 6px solid snow;
padding: 0px 75px 300px 75px;
margin-top: 300px;
margin-bottom: 50px;
}
}


@media only screen and (min-width : 1200px) {

#seven .time  {
	margin: 100px auto auto auto;

} 	

}

/*------End responsive------*/

#seven .colophon {
	font-family: Montserrat, sans-serif;
	color: snow;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 1rem 0 1rem;
	letter-spacing: 3px;
	display: inline-block;
}

#seven a {
	color: #151515;
}

#seven a:hover {
	text-decoration: none;
	color: slategrey;
}


/*--------Day 8 starts here---------*/

#eight .content {
background-color: #ECE6E0;
padding: 15rem 0 12rem 0;
}

#eight .card {
	background-color: rgba(255, 255, 255, .5);
	width: 90%;
	margin: auto;
	border: 2px solid #1B1E61;
	margin-top: 100px;
	color: #1B1E61;
	position: relative;
}

#eight .cardtexture {
	background-image: url('../images/stardust.png');
	opacity: .5;
	top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#eight .row {
	width: 95%;
	margin: 20px auto 20px auto;
}


#eight .postage {
	font-family: Montserrat, sans-serif;
	color: orangered;
	letter-spacing: 7px;
	font-size:.65em;
	line-height: 2em;
	border: 1px dashed orangered;
	display: inline-block;
	float: right;
	padding: 20px 2px 20px 10px;
	margin: 25px 25px auto auto;
} 


#eight .firstfont  {
                
	font-family: 'Crimson Text', serif;
	font-size: 2em;
	font-style: italic;
	letter-spacing: 12px;
	line-height: 1.5em;
	color: #1B1E61;
	clear: both;
	margin: auto;
	padding-top: 50px;
	
} 


#eight .letter-text {
	font-family: 'La Belle Aurore', sans-serif;
	letter-spacing: .5px;
	font-size: 1.15em;
	line-height: 2em;
	color: #1B1E61;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	margin: auto;
	text-align: center;



}

#eight .letter-address {
	font-family: 'La Belle Aurore', sans-serif;
	letter-spacing: .5px;
	font-size: 1.65em;
	line-height: 2em;
	color: #1B1E61;
	padding-top: 20px;

}


/*------Responsive styling--------*/
@media only screen and (min-width : 768px) {


#eight .card {
	width: 800px;
	margin: auto;
	border: 2px solid #1B1E61;
	margin-top: 100px;
	color: #1B1E61;

}

#eight .firstfont {
	padding-top: 0;
}

#eight .letter-text {
	border-right: 1px dashed #1B1E61;
	padding-right: 35px;
	text-align: left;
}

#eight .row {
	width: 95%;
	margin: 65px auto 75px auto;
}

#eight .letter-address {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 20px;
}


}


/*------End responsive------*/

#eight .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 1rem 0 1rem;
	letter-spacing: 3px;
	display: inline-block;
}

#eight a {
	color: orangered;
}

#eight a:hover {
	text-decoration: none;
	color: slategrey;
}



/*--------Day 9 starts here---------*/

#nine .content {
	
	background-color: #fafafa;
	padding: 15rem 0 12rem 0;
}


#nine .row {
	width: 90%;
	margin: 75px auto auto auto;
}

#nine .poem {
	margin-top: 75px;
}

#nine .corndogs {
	position: relative;
}

#nine .firstfont  {
       
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 6.75em;
	letter-spacing: 15px;
	line-height: 1.25em;
	overflow: hidden;
	margin-bottom: 30px;

}

#nine .ontop {
	color: yellow;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
	margin: 0 auto;

}

#nine .onbottom {
	position: absolute;
	left: 6px;
	right: 0;
	top:4px;
	margin: 0 auto;
	z-index: 0;
	background-image: url(../images/black-stripe2.png);
	-webkit-background-clip: text;
	background-clip: text;

	color: rgba(0, 0, 0, 0);

}


#nine .stretch {
	letter-spacing: 15px;
}


#nine .secondfont {
	width: 250px;
	font-family: 'Old Standard TT', serif;
	font-style: italic;
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 148px;
	color: #151515;
	margin: -85px auto auto auto;
} 

/*------Responsive styling--------*/
@media only screen and (min-width : 480px) {

#nine .poem {
	margin-top: 100px;
}	

#nine .firstfont  {
	font-size: 10em;
}

#nine .onbottom {
	position: absolute;
	left: 10px;
	right: 0;
	top: 6px;
}

#nine .secondfont {
	padding-top: 100px;
	width: 350px;
	font-size: 1.2em;
	line-height: 202px;
	margin: auto;
} 
}

/*------End Responsive styling--------*/

#nine .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#nine a {
	color: orangered;
}

#nine a:hover {
	text-decoration: none;
	color: slategrey;
}


/*--------Day 10 starts here---------*/

#ten .content {
	
	background-color: #424147;
	background-image: url(../images/stardust.png);
	padding: 15rem 0 12rem 0;
}

#ten .day {
	color: snow;
	border: 2px solid snow;
}

#ten p {	
	color: #f2f2f2;
	background:#ff4a4a;
	font-size: 50px;
	line-height: 49px;
	margin: 0 5px 24px;
	float:left;
	padding: 10px;
	margin: 0 5px 24px;
	font-family: 'Libre Baskerville', serif;
}

#ten .willzap p {
	background:#f2f2f2;
	color:#ff4a4a;
}

#ten .entypo-flash {
	font-family: 'entypo', sans-serif;
	color: yellow;
	font-size: 52px;
	float: left;
	margin-left: 20px;
}



#ten .row {
	width: 90%;
	margin: 75px auto auto auto;
}

#ten .zap{
	width: 100%;
	margin: auto;
}


/*------Responsive styling--------*/

@media only screen and (min-width : 480px) {

#ten p {
	font-size: 75px;
	line-height: 74px;
}

#ten .zap {
	width: 600px;
}

#ten .entypo-flash {
	font-size: 75px;
}

}

/*------End Responsive styling--------*/

#ten .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#ten a {
	color: orangered;
}

#ten a:hover {
	text-decoration: none;
	color: slategrey;
}



/*--------Day 11 starts here---------*/

#eleven .content {
	
	background-color: floralwhite;
	padding: 15rem 0 12rem 0;
}

#eleven .main {
	width: 95%;
	margin: 75px auto auto auto;
	background-color: floralwhite;
}

#eleven hr {
	width: 75px;
	border-color: #151515;
	border-width: 3px;
	margin-left: 0;
}

#eleven .florist {
	width: 100%;
}

.floweretch {
	margin-bottom: 50px;
}


#eleven .firstfont {
	font-family: 'Cardo', serif;
	color:#151515;
	font-style: italic;
	font-size: 3.75em;
	margin-bottom: 40px;
}

#eleven .secondfont {
	font-family: 'Josefin Sans', serif;
	color:#151515;
	font-size: 1.5em;
	line-height: 2em;
	margin-top: 40px;
}

#eleven .thislife {
	background-color: floralwhite;
}

#eleven .subtext {
	margin-top: 100px;
	font-size: 1em;
}

/*------Responsive styling--------*/

@media only screen and (min-width : 768px) {

#eleven .main {
	width: 90%;
	background-image: url(../images/florist.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}	

#eleven .florist {
	width: 400px;
}

#eleven .firstfont {
	font-size: 3.75em;
	padding-top: 75px;
}

#eleven .subtext {
	font-size: 1em;
	margin-top: 20px;
	padding-top: 0;
	padding-bottom: 75px;
}
}

@media only screen and (min-width : 1200px) {
#eleven .main{
	width: 65%;
}
}



/*------End Responsive styling--------*/

#eleven .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#eleven a {
	color: orangered;
}

#eleven a:hover {
	text-decoration: none;
	color: slategrey;
}




/*--------Day 12 starts here---------*/

#twelve .content {
	
	background-color: #C3DEE0;
	padding: 15rem 0 12rem 0;
}

#twelve .main {
	width: 95%;
	margin: 50px auto auto auto;
	position: relative;

}

#twelve .picasso {
	position: absolute;
	background-color: white;
	width: 80%;
	height: 95%;
	left: 0;
	right: 0;
	top: 62px;
	margin: auto;
	z-index: 0;
}

#twelve .notable {
	margin-top: -100px;
	border-bottom: 5px solid #151515;
	width: 180px;
	display: inline-block;
}

#twelve .firstfont {
	font-family: 'Abril Fatface', serif;
	color:#151515;
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 40px;
	position: relative;
	z-index: 1;
}

#twelve .secondfont {
	font-family: 'Josefin Sans', serif;
	color:#151515;
	font-size: 1.5em;
	line-height: 2em;
	margin-top: 40px;
	position: relative;
	z-index: 2;
}


#twelve .quotelabel {
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 5px solid #151515;
	width: 130px;
	display: inline-block;

}


/*------Responsive styling--------*/
@media only screen and (min-width : 480px){
	#twelve .firstfont {
		font-size: 5em;
	}
}


@media only screen and (min-width : 768px) {

#twelve .main{
	width: 75%;
}
#twelve .firstfont {
	font-size: 7.8em;
	padding-top: 75px;
	letter-spacing: 1px;
	line-height: 1.25em;
}

#twelve .picasso {
	width: 86%;
}

#twelve .firstfont {
	margin-bottom: 75px;
}
}

@media only screen and (min-width : 1200px) {
#twelve .main{
	width: 68%;
}
}

/*------End Responsive styling--------*/

#twelve .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#twelve a {
	color: orangered;
}

#twelve a:hover {
	text-decoration: none;
	color: slategrey;
}




/*--------Day 13 starts here---------*/

#thirteen .content {
	
	background-color: #F2F1EF;
	padding: 15rem 0 12rem 0;
}

#thirteen .menu {
	width: 90%;
	margin: 100px auto auto auto;
	position: relative;
	border: 1px dashed #151515;
	padding: 75px 15px 15px 15px;

}

#thirteen .firstfont {
	font-family: 'Playfair Display SC', serif;
	font-style: italic;
	font-weight: bold;
	color:#151515;
	font-size: 1.15em;
	letter-spacing: 5px;
	margin-bottom: 15px;
	position: relative;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.5em;
}

#thirteen .secondfont {
	font-family: 'Open Sans Condensed', serif;
	font-weight: 300;
	color:#151515;
	letter-spacing: 2px;
	font-size: 1.15em;
	line-height: 2em;
	position: relative;
	margin-bottom: 40px;
}

#thirteen .menutitle {
	margin-bottom: 100px;
	margin-top: 15px;

}

#thirteen .courselabel {
	font-size: 1.5em;
	letter-spacing: 10px;
	color: #151515;
	margin-top: 75px;
}

#thirteen .etcinfo {
	font-size: .85em;
	letter-spacing: 3px;
	margin-top: 40px;
	margin-bottom: 10px;
}

#thirteen .city {
	font-size: .75em;
	margin-top: 10px;
	margin-bottom: 20px;
}

#thirteen .course {
	margin-bottom: 20px;
}


#thirteen hr{
	border-color: red;
	width: 100%

}

#thirteen .desserts {
	margin-bottom: 100px;
}



/*------Responsive styling--------*/

@media only screen and (min-width : 768px) {

#thirteen .menu {
	width: 65%;
	margin: 100px auto auto auto;
	position: relative;
	border: 1px dashed #151515;
	padding: 75px 50px 50px 50px;

}

#thirteen .courselabel {
	font-size: 1.5em;
	letter-spacing: 10px;
	color: #151515;
	margin-top: -5px;
}
}


@media only screen and (min-width : 1200px) {
#thirteen .menu {
	width: 55%;
}

}

/*------End Responsive styling--------*/

#thirteen .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#thirteen a {
	color: orangered;
}

#thirteen a:hover {
	text-decoration: none;
	color: slategrey;
}




/*--------Day 14 starts here---------*/

#fourteen .content {
	
	background-color: #F9F6E7;
	padding: 15rem 0 12rem 0;
}

#fourteen .row {
	width: 90%;
	margin: 75px auto auto auto;
	padding: 50px 10px;

}

#fourteen .doublequote {
	margin-top: 75px;
	font-family: 'Crimson Text', serif;
	color: #151515;
	font-size:20em;
	line-height: 0em;
	position: relative;
	text-align: left;
	z-index: 0;
}

#fourteen .firstfont {
	margin-top: -70px;
	font-family: Montserrat, sans-serif;
	color: #E2ED39;
	line-height: 1em;
	font-weight: bold;
	font-size: 3.75em;
	letter-spacing: 20px;
	position: relative;
	z-index: 1;
	padding-left: 10px;
}


#fourteen .secondfont {
	font-family: 'Over the Rainbow', cursive;
	margin-top: 30px;
	color: #151515;
	text-align: left;
	font-size: 2.5em;
	line-height: 1em;
	position: relative;
	padding-left: 10px;
}

/*------Responsive styling--------*/
@media only screen and (min-width : 768px) {
#fourteen .row {
	width: 600px;
	margin: 50px auto auto auto;
	padding: 50px 0px 50px 0px;

}

#fourteen .doublequote {
margin-top: 150px;
font-size:30em;
line-height: 0em;
}

#fourteen .firstfont {
margin-top: -100px;
line-height: 1em;
font-size: 7.25em;
padding-left: 75px;
}


#fourteen .secondfont {
	font-family: 'Over the Rainbow', cursive;
	margin-top: 50px;
	color: #151515;
	text-align: left;
	font-size: 5em;
	line-height: 1em;
	position: relative;
	padding-left: 80px;
}
}


@media only screen and (min-width : 1200px) {

}

/*------End Responsive styling--------*/

#fourteen .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#fourteen a {
	color: orangered;
}

#fourteen a:hover {
	text-decoration: none;
	color: slategrey;
}




/*--------Day 15 starts here---------*/

#fifteen .content {
	
	background-color: #B5AFA9;
	padding: 15rem 0 12rem 0;
}

#fifteen .day {
	border-color: snow;
	color: snow;
}

#fifteen .row {
	width: 95%;
	margin: 100px auto auto auto;
	padding-top: 0px;

}

#fifteen .firstfont {
	font-family: Cabin, sans-serif;
	color: #292F56;
	line-height: 1em;
	font-weight: 700;
	font-size: 5em;
}

#fifteen .monday {
	margin-bottom: 500px;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#fifteen .letterm {
	position: absolute;
	left: 20%;
	top: 50px;
	color: #FF366E;
}

#fifteen .lettero {
	position: absolute;
	left: 55%;
	top: 125px;
	color: gainsboro;
}

#fifteen .lettern {
	position: absolute;
	left: 30%;
	top: 300px;
}

#fifteen .letterd {
	position: absolute;
	left: 5%;
	top: 375px;
	color: gainsboro;

}

#fifteen .lettera {
	position: absolute;
	left: 45%;
	top: 550px;
	color: #FF366E;
}

#fifteen .lettery {
	position: absolute;
	left: 80%;
	top: 425px;
}

#fifteen .mondaytext {
	position: absolute;
	width: 50%;
	border-top: 3px solid #FF366E;
	left: 30%;
	top: 180px;
}

#fifteen .secondfont {
	font-family: 'Old Standard TT', serif;
	color: snow;
	text-align: left;
	font-size: 1.25em;
	line-height: 1.75em;
}

/*------Responsive styling--------*/

@media only screen and (min-width : 768px) {
	#fifteen .row {
	width: 600px;
	margin: 100px auto auto auto;
	border: 1px solid gainsboro;
	padding-top: 0px;

}

#fifteen .firstfont {
	font-family: Cabin, sans-serif;
	line-height: 1em;
	font-weight: 700;
	font-size: 5em;
}

#fifteen .monday {
	margin-bottom: 500px;
	width: 500px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#fifteen .mondaytext {
	position: absolute;
	width: 200px;
	border-top: 3px solid #FF366E;
	left: 60%;
	top: 180px;
}

#fifteen .secondfont {
	font-family: 'Old Standard TT', serif;
	color: snow;
	text-align: left;
	font-size: 1.25em;
	line-height: 1.75em;
}

}



/*------End Responsive styling--------*/

#fifteen .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 25rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#fifteen a {
	color: gainsboro;
}

#fifteen a:hover {
	text-decoration: none;
	color: slategrey;
}


/*--------Day 16------*/


#sixteen .content {
	
	background-color: #fce8f1;
	padding: 15rem 0 12rem 0;
}

#sixteen .row {
	width: 90%;
	margin: auto;
}


#sixteen .papersubtitle {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	line-height: 2em;
	font-weight: bold;
	letter-spacing: 6px;
}

#sixteen hr {
	margin-top: 50px;
	margin-bottom: 15px;
	width: 100%;
	border: 1px solid #151515;
}

#sixteen .paperinfo {
	font-family: Montserrat, sans-serif;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 0;
}

#sixteen .firstfont {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	color:#151515;
	font-size: 4em;
	letter-spacing: 1px;
	margin-bottom: 15px;
	margin-top: 75px;
	position: relative;
}

#sixteen .mainsection {
	margin-top: 40px;
}


#sixteen h2 {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	letter-spacing: 3px;
	font-size: 2em;
	line-height: 1.75em;
}

#sixteen p {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 2em;
	margin-top: 25px;
}

#sixteen h3{
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.75em;
}

.media hr {
	width: 75%;
}

#sixteen .mediabody {
	font-family: 'Libre Baskerville', serif;
	font-size: .8em;
}

.fontawesome-umbrella {
	margin-right: 20px;
	font-size: 2em;
	float: left;
	padding-top: 0;
}

#sixteen .weather {
	font-family: 'Libre Baskerville', serif;
	font-size: .8em;
	margin-top: 20px;
	line-height: 2em;

}

#sixteen .weatherlabel {
	font-family: Montserrat, sans-serif;
	font-size: 1em;
	letter-spacing: 5px;
}

/*--Media Query--*/
@media only screen and (min-width : 768px) {

#sixteen .row {
width: 70%;
margin: auto;
}

#sixteen .firstfont {
	font-size: 5em;
}

#sixteen .mainstory {
	border-right: 2px solid #151515;
	padding-right: 40px;
	padding-bottom: 60px;


}

#sixteen h2 {
	letter-spacing: 3px;
	font-size: 3em;
	line-height: 1.75em;
}

#sixteen p {
	font-size: 1em;
	line-height: 2em;
	margin-top: 25px;
}

#sixteen h3{
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.75em;
}

#sixteen .media {
	padding-left: 40px;
}

.media hr {
	width: 75%;
}

#sixteen .mediabody {
	font-size: .8em;
}

.fontawesome-umbrella {
	margin-right: 20px;
	font-size: 2em;
	float: left;
	padding-top: 0;
}

#sixteen .weather {
	font-size: .8em;
	margin-top: 20px;
	line-height: 2em;

}

#sixteen .weatherlabel {
	font-size: 1em;
	letter-spacing: 5px;
}

}

/*------End Responsive styling--------*/

#sixteen .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#sixteen a {
	color: orangered;
}

#sixteen a:hover {
	text-decoration: none;
	color: slategrey;
}




/*--------Day 17------*/


#seventeen .content {
	
	background-color: #2c2c2c;
	padding: 15rem 0 12rem 0;
}

#seventeen .day {
	border-color: snow;
	color: snow;
}

#seventeen .row {
	width: 80%;
	margin: 100px auto auto auto;
}

#seventeen .column2 {
	margin-top: 30px;
}


#seventeen .firstfont {
	font-family: Oswald, sans-serif;
	font-size: 5em;
	line-height: 2em;
	color: rgba(255, 255, 255, .075);
	letter-spacing: 10px;
}

#seventeen .secondfont {
	font-family: 'Cutive Mono', serif;
	color: snow;
	font-size: 1.5em;
	line-height: 2em;
	position: absolute;
	top: 125px;
	left: 50px;
	width: 75%;
}

#seventeen .ending {
	font-family: 'Cutive Mono', serif;
	color: snow;
	font-size: 1em;
	line-height: 2em;
	margin: 100px auto auto auto;
	width: 80%;


}

/*--Media Query--*/
@media only screen and (min-width : 768px) {

#seventeen .column2 {
	margin-top: 200px;
}


}

/*------End Responsive styling--------*/

#seventeen .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#seventeen a {
	color: orangered;
}

#seventeen a:hover {
	text-decoration: none;
	color: slategrey;
}



/*--------Day 18---------*/


#eighteen .content {	
	background-color: #CBCFD8;
	background-image: url(../images/stardust.png);
	padding: 15rem 0 12rem 0;
}

#eighteen .row {
	width: 80%;
	margin: 100px auto auto auto;
}

@keyframes neonspark  { 
0% { text-shadow: 0 0 10px rgba(255,255,255,1); }
20% {
  text-shadow: 0 0 10px rgba(255,255,255,1),
      0 0 20px rgba(255,255,255,0.4); 
  }
30% { text-shadow: 0 0 10px rgba(255,255,255,1); }
40% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
100% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
}

@-webkit-keyframes neonspark  { 
0% { text-shadow: 0 0 10px rgba(255,255,255,1); }
20% {
  text-shadow: 0 0 10px rgba(255,255,255,1),
      0 0 20px rgba(255,255,255,0.4); 
  }
30% { text-shadow: 0 0 10px rgba(255,255,255,1); }
40% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
100% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
}

@-moz-keyframes neonspark  { 
0% { text-shadow: 0 0 10px rgba(255,255,255,1); }
20% {
  text-shadow: 0 0 10px rgba(255,255,255,1),
      0 0 20px rgba(255,255,255,0.4); 
  }
30% { text-shadow: 0 0 10px rgba(255,255,255,1); }
40% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
100% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
}

@-o-keyframes neonspark  { 
0% { text-shadow: 0 0 10px rgba(255,255,255,1); }
20% {
  text-shadow: 0 0 10px rgba(255,255,255,1),
      0 0 20px rgba(255,255,255,0.4); 
  }
30% { text-shadow: 0 0 10px rgba(255,255,255,1); }
40% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
100% { 
text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
  }
}

#eighteen .row {
	width: 90%;

}

#eighteen .firstfont {
	font-family: Quicksand, sans-serif;
	font-size:4em;
	line-height: 1.25em;
	color: snow;
	letter-spacing: 10px;
	text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ffffff , 0 0 30px #ffffff , 0 0 40px #ffffff , 0 0 50px #ffffff;
}

#eighteen .secondfont {
	font-family: 'EB Garamond', sans-serif;
	font-size: 2em;
	width: 90%;
	letter-spacing: 1px;
	margin: 50px auto auto auto;
	color: #151515;
}

#eighteen .animatea {
	animation: neonspark 3s 5s 5;
	-webkit-animation: neonspark 3s 5s 5;
	-moz-animation: neonspark 3s 5s 5;
	-o-animation: neonspark 3s 5s 5;

}

#eighteen .animateo {
	animation: neonspark 2.2s 2s 7;
	-webkit-animation: neonspark 2.2s 2s 7;
	-moz-animation: neonspark 2.2s 2s 7;
	-o-animation: neonspark 2.2s 2s 7;

}


/*--Media Query--*/
@media only screen and (min-width : 768px) {

#eighteen .row {
	width: 60%;

}

#eighteen .firstfont {
	font-size:8.75em;
}

#eighteen .secondfont {
	width: 50%;
	margin: 100px auto auto auto;
}

}

/*------End Responsive styling--------*/

#eighteen .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#eighteen a {
	color: orangered;
}

#eighteen a:hover {
	text-decoration: none;
	color: slategrey;
}



/*--------Day 19------------*/
#nineteen .content {	
	background-color: yellow;
	padding: 15rem 0 12rem 0;
	background-image: url('../images/inspiration-geometry.png');
}


#nineteen .receipt {
	position: relative;
	width: 320px;
	height: 500px;
	margin: 100px auto auto auto;
	padding: 75px 8px 460px 8px;
	background-color: #fafafa;

}

.receipt:after {
    background: linear-gradient(-45deg, yellow 6px, transparent 0), linear-gradient(45deg, yellow 6px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 12px 12px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 12px;
}

.receipt:before {
    background: linear-gradient(-45deg, #fafafa 6px, transparent 0), linear-gradient(45deg, #fafafa 6px, transparent 0);
    background-position: left-top;
    background-repeat: repeat-x;
    background-size: 12px 12px;
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 12px;
}

.creditcard {
	margin-right: 10px;
}

#nineteen .firstfont {
	font-family: 'Josefin Sans', sans-serif;
}

.receipttitle {
	margin: 40px auto 35px auto;
	font-size: 1.5em;
}

.taxi {
	width: 40px;
	height: 40px;
	border: 1px dashed red;
	-moz-border-radius: 50%;
   -webkit-border-radius: 50%; 
   border-radius: 50%;
   margin: auto;
   padding-top: 7px;
}

.bountyhunter {
	margin-bottom: 20px;
}

#nineteen .receiptline {
	border-width: 2px;
	color: red;
}

#nineteen .secondfont {
	font-family: Cardo, serif;
	color: #999999;
	font-size: .9em;
	font-style: italic;
	line-height: 1.75em;
	margin-top: 75px;
}


#nineteen .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#nineteen a {
	color: orangered;
}

#nineteen a:hover {
	text-decoration: none;
	color: slategrey;
}



/*--------Day 20------*/


#twenty .content {
	background-color: #E9E2DC;
	padding: 15rem 0 12rem 0;
	border-left: 15px solid #a8dfe9;
	border-right: 15px solid #a8dfe9;
}


#twenty .row {
	width: 95%;
	margin: auto;
	position: relative;
}


#twenty .firstfont {
	width: 500px;
	margin: auto;
	font-family: 'Cardo', serif;
	font-size: 4.25em;
	font-style: italic;
	line-height: 2em;
	color: rgba(255, 255, 255, .75);
	letter-spacing: -5px;
	-ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);

}

#twenty .travel {
	position: absolute;
	width: 280px;
	top: 0;
	left: 0;
	right: 0;
	margin: 100px auto;
}

#twenty .secondfont {
	font-family: Montserrat, sans-serif;
	color: #252525;
	font-size: 1.25em;
	line-height: 2em;
	letter-spacing: 20px;
	font-weight: bold;
}

#twenty .thirdfont {
	font-family: 'Cardo', serif;
	font-size: 1em;
	line-height: 2em;
	margin-top: 50px;
	border-top: 2px solid #151515;
	padding-top: 25px;
}


/*--Media Query--*/
@media only screen and (min-width : 768px) {
#twenty .row {
	width: 80%;
}


#twenty .firstfont {
	width: 800px;
	margin: auto;
	font-size: 7em;
	font-style: italic;
	line-height: 3em;
	color: rgba(255, 255, 255, .75);
	letter-spacing: -5px;
	-ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  margin-top: -300px;
  margin-bottom: -300px;
}

#twenty .travel {
	position: absolute;
	width: 500px;
	top: 175px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#twenty .secondfont {
	font-family: Montserrat, sans-serif;
	color: #252525;
	font-size: 1.25em;
	line-height: 2em;
	letter-spacing: 20px;
	font-weight: bold;
}

#twenty .thirdfont {
	font-family: 'Cardo', serif;
	font-size: 1em;
	line-height: 2em;
	margin-left: 315px;
	margin-top: 50px;
	border-top: 2px solid #151515;
	padding-top: 25px;
}

}

/*------End Responsive styling--------*/

#twenty .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 2rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#twenty a {
	color: orangered;
}

#twenty a:hover {
	text-decoration: none;
	color: slategrey;
}

/*--------Day 21------*/


#twentyone .content {
	background-color: #F6F6F8;
	padding: 15rem 0 12rem 0;
}

#twentyone img{
	height: 50px;
}

#twentyone .noodles {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: .75em;
	color: #151515;
	letter-spacing: 7px;
	margin-top: 25px;
	line-height: 3em;

}

#twentyone .row {
	width: 95%;
	margin: 100px auto;
}

#twentyone .selection {
	position: relative;
	width: 300px;
	margin: 75px auto;
}


#twentyone .firstfont {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 6em;
	color: #F5D941;
	letter-spacing: 15px;
}

#twentyone .secondfont {
	font-family: Lora, serif;
	font-size: 2em;
	color: #151515;
}

#twentyone .thirdfont {
	font-family: Lora, serif;
	font-style: italic;
	font-size: .9em;
	color: #151515;
}

#twentyone .store {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}


/*--Media Query--*/
@media only screen and (min-width : 768px) {


#twentyone .selection {
	position: relative;
	width: 500px;
	margin: 75px auto;
}

#twentyone .first {
	margin-left: 20%;
}
#twentyone .second {
	margin-left: 45%;
}
#twentyone .third {
	margin-left: 15%;
}
#twentyone .fourth {
	margin-left: 40%;
}

#twentyone .firstfont {
	font-size: 10em;
	letter-spacing: 15px;
}

#twentyone .secondfont {
	font-size: 2.5em;
}

#twentyone .thirdfont {
	font-size: .9em;
	margin-top: -25px;
}

#twentyone .store {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

}

/*------End Responsive styling--------*/

#twentyone .colophon {
	font-family: Montserrat, sans-serif;
	color: slategrey;
	font-size: .75em;
	line-height: 2.5em;
	margin: 8rem 0 0 0;
	padding: 0 5rem 0 5rem;
	letter-spacing: 3px;
}

#twentyone a {
	color: orangered;
}

#twentyone a:hover {
	text-decoration: none;
	color: slategrey;
}

